@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: #f3f3f3;
}

.top {
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.top img:nth-child(1) {
    margin-left: 20px;
}

.top img:nth-child(2) {
    margin-right: 20px;
    cursor: pointer;
}

.container {
    margin: 100px 0;
    width: 375px;
}

.footer {
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer input {
    margin-left: 20px;
    border: none;
    width: 145px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.footer input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.footer img {
    margin-right: 20px;
    cursor: pointer;
}

.on-off {
    width: 375px;
    height: 40px;
    background-color: #DCDCDC;
    border-radius: 2px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px 0;
}

.time {
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    color: rgb(150, 146, 146);
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    color: #000000;
}

.user-messenger {
    width: 375px;
    min-height: 40px;
    background-color: #FFFFFF;
    border-radius: 2px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px 0;
}

.direct-messenger {
    width: 375px;
    min-height: 40px;
    background-color: #FFDEDE;
    border-radius: 2px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px 0;
}
